@{

}

<div>
    <h1>Resize images and keep what matters.</h1>
    <img src="" alt="Product Description Image" />
    <form>
        <input type="file" />
        <label>Width of the original image</label>
        <input type="text" placeholder="80%" />
        <label>Height of the original image</label>
        <input type="text" placeholder="80%" />
        <input type="submit" value="Upload" />
    </form>
</div>