@{

}

<div>
    <h1>Resize images and keep what matters.</h1>
    <img src="" alt="Product Description Image" />
    <form>
        <input type="file" /><br>
        <label>Width of the original image</label>
        <input type="text" placeholder="80%" /><br>
        <label>Height of the original image</label>
        <input type="text" placeholder="80%" /><br>
        <input type="submit" value="Upload" /><br>
    </form>
    
</div>