@{

}

<div>
    <form>
        <label for="username-email">Username or email</label>
        <input type="text" name="username-email" id="username-email"><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"><br>
        <input type="submit" value="Login">
    </form>
    
</div>