<head>
    <link rel="stylesheet" href="~../node_modules/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <header>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PixieFit</a>
        <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">Pricing</a>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            2024 - PixieFit - <a asp-area="" asp-controller="Home" asp-action="Pricing">Pricing</a>
        </div>
    </footer>

<script src="~../node_modules/jquery/dist/jquery.min.js"></script>
<script src="~../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/site.js"></script>
</body>